<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>List Book</title>
</head>
<body>
<h3>Books</h3>
<p>
    <a href="@{/books/create}">
        Add new book
    </a>
</p>
<p>
    <a href="@{/types}">
        Types
    </a>
</p>
<div style="margin-bottom: 10px; margin-left: 110px">
    <form th:action="@{/books/search}" method="post">
        <label><input type="text" name="search"></label>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<table id="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Type</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList.content}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
        <th:block th:if="${book.type != null}">
            <td th:text="${book.type.name}"></td>
        </th:block>
        <th:block th:unless="${book.type != null}">
            <td>No data</td>
        </th:block>
        <td><img width="100" height="100" th:src="@{'/i/'+${book.image}}" src="" alt=""></td>
        <td><a th:href="@{/books/{id}/edit(id=${book.id})}">Edit</a></td>
        <td><a th:href="@{/books/{id}/delete(id=${book.id})}">Delete</a></td>
        <td><a th:href="@{/books/{id}/view(id=${book.id})}">Detail</a></td>
    </tr>
    </tbody>
</table>

<div>
    <a th:if="${bookList.hasPrevious()}"
       th:href="@{/books(page=${bookList.number - 1})}">Previous</a>
    <span th:text="${bookList.number + 1}"></span> / <span th:text="${bookList.totalPages}"></span>
    <a th:if="${bookList.hasNext()}"
       th:href="@{/books(page=${bookList.number + 1})}">Next</a>
</div>

<p th:if="${bookList.isEmpty()}">No books available</p>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>
